.text-title-home {
  color: rgb(208, 129, 165);
}

.widget-title::after {
  background-color: rgb(208, 129, 165);
}
.block-list {
  color: black;
}
.block-list li Link:active,
.block-list li Link:hover,
.block-list li Link:focus {
  color: #79bd9a;
}
.allProduct-text {
  font-size: 20px;
  font-family: "UTM DaxMedium";
}
.guidance {
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  font-family: "Awesome";
}
.guidance-content ::before {
  content: "\f1d0";
}
@media (width: 768px) {
  #homeRightSide {
    display: grid;
  }
}
