.text-title-home {
  color: rgb(208, 129, 165);
}

.widget-title::after {
  background-color: rgb(208, 129, 165);
}
.block-list {
  color: black;
}
.block-list li Link:active,
.block-list li Link:hover,
.block-list li Link:focus {
  color: #79bd9a;
}
.allProduct-text {
  font-size: 20px;
  font-family: "UTM DaxMedium";
}
.guidance {
  /* background: url(https://bizweb.dktcdn.net/100/117/632/themes/157694/assets/bg-para.jpg)
    no-repeat center center; */
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  font-family: "Awesome";
}
.guidance-content ::before {
  content: "\f1d0";
}
