.toggle-eye {
  display: inline;
  margin-left: -30px;
  cursor: pointer;
  color: gray;
  text-align: center;

  z-index: 2;
}

.forgot-pass:hover,
.forgot-pass:focus,
.forgot-pass:active {
  color: blue;
  cursor: pointer;
}
