.font-price {
  font-size: 24px;
  width: "-moz-fit-content";
}
.font-instock {
  width: max-content;
}

.tabs-style {
  ::after {
    content: "";
  }
}
.select-size:hover,
.select-size:focus,
.select-size:active,
.select-color:hover,
.select-color:focus,
.select-color::selection {
  background-color: aqua;
}
@media (max-width: 768px) {
  #productDetail-rightSide {
    display: none;
  }
}
