.new-product-catalog {
  font-family: "utm-alexander-regular", sans-serif;
}
.new-product-catalog li a {
  font-family: "utm-alexander-regular", sans-serif;
  color: rgb(22, 22, 22);
  font-style: italic;
  font-weight: 600;
}
.new-product-catalog li a:hover,
.new-product-catalog li a:focus,
.new-product-catalog li a:active {
  color: rgb(121, 189, 154);
}
