* {
  box-sizing: border-box;

  font-family: "UTM Alexander";
}
.bg-content {
  background-color: rgb(121, 189, 154);
}
.bg-opacity {
  background-image: url("https://bizweb.dktcdn.net/100/117/632/files/bg-op80.png");
}
.bg-highlight {
  background-color: rgb(208, 129, 165);
}
.text-highlight {
  color: rgb(208, 129, 165);
  font-size: large;
  font-weight: bold;
}
.text-title-normal {
  color: rgb(121, 189, 154);
}

.discount {
  position: absolute;
  top: 0;
  right: 0;
}
.bg-discount-widget {
  background-color: rgb(208, 129, 165);
}
.discount-widget {
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  color: white;
  border: 2px white;
  vertical-align: middle;
  background-color: rgb(208, 129, 165);

  position: absolute;
  top: 0px;
  right: 0px;
  margin: auto;
}
.img {
  max-width: 150px;
  width: 100%;
  object-fit: cover;
}
.product-block {
  width: auto;
}
.product-block :hover,
.product-block :focus {
  cursor: pointer;
}
.side-bar-catalogue:hover,
.side-bar-catalogue:focus,
.side-bar-catalogue:active {
  color: rgb(121, 189, 154);
  font-style: italic;
}
@media (max-width: 768px) {
  #homeLeftSide,
  #sideBar {
    display: none;
  }
  .img {
    max-width: 200px;
    width: 100%;
  }
}
